##### Output parameters ##############

DisableAllClients	= true
DumpProgressToConsole	= true
#### Serialization flags ##########

SummarySerialization 	= true
RemoveNonEscaping	= false
DisableSummaryReduce	= true

#### Analysis flags ##############

FlowSensitivity 	= false
BoundContextString	= false
ContextBound		= 4

#### Input files ##############

BenignSideEffectsFilename 	= Checker\BenignSideEffects.txt
StubMappingFilename	  	= Checker\StubMapping.txt
DB				= FILE
DBFilename			= DBs\PurityDB-full-context-.NET4.6.sdf
