##### Output parameters ##############

DumpProgressToConsole 		= false
DumpIR				= true
DisplayAsVSErrorMsg 		= true
DumpSummariesAsGraphs 		= false
DumpWholeProgramCallGraph	= true
DisableAllClients		= true
DumpPurityData			= false
RecordInteresting		= false
WholeProgramCallgraphFilename 	= wholeprogramcg.txt
DisableSummaryReduce		= false
RemoveNonEscaping		= false
DumpStateMachineGraphs		= false
DumpPointsToGraphs		= true
DumpFlowGraphs			= false
#### Output filenames ################

reportFilename 		= Purity-Report.dat
unaCallsFilenameSuffix  = -unanalyzable-calls.txt
purityDataFilename	= PurityData
finalCGFilenameSuffix 	= -final-call-graph.dgml
#### Serialization flags ##########

WitnessSerialization 	= false
SummarySerialization 	= true

#### Analysis flags ##############

FlowSensitivity 		= false
BoundContextString 		= false
ContextBound 			= 1

#### Input file (paths are relative to $SEALHOME) ##############

BenignSideEffectsFilename 	= Checker\BenignSideEffects.txt
StubMappingFilename	  	= Checker\StubMapping.txt
DB				= FILE
ClearDBContents			= true
DBFilename			= DBs\PurityDB-full-context-.NET4.6.sdf
Analyzelist     		= Configs/analyzable-list/storage-analyzable-list.txt